#header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 20px 40px;
    position: relative;
    z-index: 1;
}

#logo img {
    width: 240px;
}

#menu-superior {
    width: 31em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu-superior input {
    width: 300px;
    padding: 5px 10px;
}

#menu-inferior {
    width: 100%;
    background: var(--amarillo);
    margin-top: 20px;
}

#menu-inferior .menu-horizontal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 10px 0;
}

#menu-inferior .menu-horizontal li {
    list-style: none;
}

#menu-inferior .menu-horizontal li a {
    font-weight: 600;
    padding: 5px 10px;
}

#menu-lateral {
    position: fixed;
    top: 0;
    z-index: 999;
    background: rgba(255, 255, 255, 0.562);
    transition: 0.3s all;
    left: -100%;

    ul.menu-horizontal {
        background: var(--amarillo);
        width: 30vw;
        height: 100vh;
        margin: 0;
        padding: 0 10px 20px 10px;
        

        li {
            border-bottom: 2px solid var(--comun);
            list-style: none;

            a {
                display: block;
                padding: 15px 5px;

                img {
                    width: 100%;
                }
            }
        }
    }

    &.openMenu {
        left: 0 !important;
    }

    #back {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
    }
}

button#menu-button {
    margin-left: 15px;
    background: transparent;
    border: none;
    font-size: 20px;
    outline: none;
    cursor: pointer;
}

@media screen and (max-width:850px) {
    #header {
        margin: 20px 10px;
    }
}

@media screen and (min-width:781px) {

    #menu-lateral,
    button#menu-button {
        display: none;
    }
}

@media screen and (max-width:780px) {
    #logo img {
        width: 160px;
    }

    #menu-lateral {
        width: 100%;
    }

    #menu-lateral ul.menu-horizontal {
        width: 50%;
    }

    #menu-superior,
    #menu-inferior {
        display: none;
    }
    #header {
        margin: 20px 10px 40px;
    }
}

@media screen and (max-width:700px) {
    #menu-superior form {
        display: none;
    }
}